version: "3.9"

services:
  db:
    image: postgres:15
    container_name: traffic_db
    restart: always
    environment:
      POSTGRES_DB: traffic
      POSTGRES_USER: traffic_user
      POSTGRES_PASSWORD: traffic_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: traffic_backend
    env_file:
      - ./backend/.env.docker
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
  frontend:
    build: ./frontend
    container_name: traffic_frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  postgres_data:
